@model List<DogModel>

@if(Model == null || !Model.Any())
{
    <h1>Could not find dogs</h1>
}
else
{
    <h1>Our Dogs</h1>

    @foreach(var dog in Model)
    {
        <div class="dog-item">

            <a asp-route-id="@dog.Id" asp-controller="Dogs" asp-action="Details"><h2>@dog.Name</h2></a> @* blockelement *@
            <label>Favorite food: </label> @* inline element *@
            <span>@dog.FavFood</span> 


            @if (dog.IsAdopted)
            {
                <h3>This dog found a happy home</h3>
            }
            else
            {
                <br />
                //man kan styla a länkar till knappar genom att styla den med bootstrap
                <a class="btn btn-primary" asp-route-id="@dog.Id" asp-controller="Dogs" asp-action="Adopt">Adopt Dog</a>
            }

            <hr />
        </div>
    }
}